
@{
    ViewBag.Title = "Index";
}

<h2 class="ml-4">Reportes</h2>


<div class="list-group col-6 ml-3">
    <button type="button" class="list-group-item list-group-item-action"><h5>Colaboradores que no han tomado vacaciones</h5></button>
    <button type="button" class="list-group-item list-group-item-action"><h5>Colaboradores próximo a vencer vacaciones</h5></button>
    <button type="button" class="list-group-item list-group-item-action"><h5>Colaboradores en disfrute de vacaciones</h5></button>
    <button type="button" class="list-group-item list-group-item-action"><h5>Colaboradores próximo a reintegrarse</h5></button>
</div>
