
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <section class="text-dark border-custom border mt-3 mb-3">
        <div class="bg-secondary text-light panel-custom border">
            <h6 class="panel-title">
                Reportes
            </h6>
        </div>

        <div class="list-group col-6 ml-3">
            <a href="/Reportes/EnVacaciones/" class="list-group-item list-group-item-action border-0 mt-3 text-dark"><h6>Colaboradores en disfrute de vacaciones</h6></a>
            <a href="/Reportes/VacacionesPendientes/" class="list-group-item list-group-item-action border-0 mt-3 text-dark"><h6>Colaboradores con vacaciones a vencer</h6></a>
            @*<button type="button" class="list-group-item list-group-item-action border-0 mt-3 text-dark"><h6>Colaboradores en disfrute de vacaciones</h6></button>*@
            <!--<button type="button" class="list-group-item list-group-item-action border-0 text-dark"><h6>Colaboradores próximo a reintegrarse</h6></button>-->
            @*<button type="button" class="list-group-item list-group-item-action border-0 text-dark"><h6>Colaboradores que no han tomado vacaciones</h6></button>
            <button type="button" class="list-group-item list-group-item-action border-0 pb-4 text-dark"><h6>Colaboradores próximo a vencer vacaciones</h6></button>*@
        </div>
    </section>
</div>