
@{
    ViewBag.Title = "Reportes";
}

<div class="container-fluid">
    <section class="text-dark border-custom border mt-3 mb-3">

        <div class="bg-secondary text-light panel-custom border">
            <h6 class="panel-title">
                Reportes

                @if (Session["role"] != null && Session["role"].ToString() == "Admin")
                {
                    <span class="btn-group pull-right">
                        <a href="javascript:void(0)" class="btn btn-danger btn-sm" style="margin-top: -3px" onclick="updateAllEmployees()">Actualiza Empleados</a>
                    </span>
                }
            </h6>
        </div>

        <div class="list-group col-lg-6 col-md-11 col-sm-12 ml-3">
            <a href="/Reportes/EnVacaciones/" class="list-group-item list-group-item-action border-0 mt-3 text-dark">
                <h6>Colaboradores en disfrute de vacaciones<span class="badge badge-danger ml-2">@ViewBag.EnVacaciones</span></h6> 
                <span class="text-danger">Hace referencia a los colaboradores que estan disfrutando sus vacaciones actualmente.</span>
            </a>
            <a href="/Reportes/VacacionesSolicitadas/" class="list-group-item list-group-item-action border-0 mt-3 text-dark mt-2">
                <h6>Colaboradores con vacaciones solicitadas<span class="badge badge-danger ml-2">@ViewBag.VacacionesSolicitadas</span></h6>
                <span class="text-danger">Hace referencia a los colaboradores que tienen vacaciones solicitadas (aprobadas o en proceso) y que la fecha del disfrute no ha llegado.</span>
            </a>
            <a href="/Reportes/VacacionesPendientes/" class="list-group-item list-group-item-action border-0 mt-3 text-dark mt-2">
                <h6>Colaboradores con vacaciones a vencer<span class="badge badge-danger ml-2">@ViewBag.VacacionesPendientes</span></h6>
                <span class="text-danger">Hace referencia a los colaboradores que tienen días disponibles próximos a vencer o que no han solicitado vacaciones. (Este reporte comienza a contar 3 meses antes del vencimiento de las vacaciones disponibles)</span>
            </a>
            <a href="/Reportes/VacacionesVencidas/" class="list-group-item list-group-item-action border-0 mt-3 text-dark mt-2">
                <h6>Colaboradores con vacaciones vencidas<span class="badge badge-danger ml-2">@ViewBag.VacacionesVencidas</span></h6>
                <span class="text-danger">Hace referencia a los colaboradores que se les vencieron los días disponibles de vacaciones.</span>
            </a>

            <!--<button type="button" class="list-group-item list-group-item-action border-0 text-dark"><h6>Colaboradores próximo a reintegrarse</h6></button>-->
            @*<button type="button" class="list-group-item list-group-item-action border-0 text-dark"><h6>Colaboradores que no han tomado vacaciones</h6></button>
        <button type="button" class="list-group-item list-group-item-action border-0 pb-4 text-dark"><h6>Colaboradores próximo a vencer vacaciones</h6></button>*@

            <div class="d-flex text-center">
                <span id="waitingIndicatorSave" class="spinner-border text-danger" style="font-size: 1.6em; display: none"></span>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function () {

       console.log("Reportes")
    });

    function updateAllEmployees() {

        $("#waitingIndicatorSave").show();

        $.ajax({
            "url": `/Reportes/UpdateAllEmployees`,
            "type": "POST",
            "success": async function (response) {
                if (response.result === "200") {
                    alert("La data de empleados fue actualizada!")
                    window.location.reload();
                } else {
                    alert(response.message)
                }

                $("#waitingIndicatorSave").hide();
            }
        });
    }

</script>