@model VacacionesRC.Models.Vacation

@{
    ViewBag.Title = "Formulario Solicitud de Vacaciones";
}

<style>
    .disable-button {
        cursor: not-allowed;
    }
</style>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="text-center mb-4">
    <h5>Formulario para Solicitud de Vacaciones</h5>
</div>

<div class="container-fluid">
    <section class="bg-light text-dark border-custom">
        <div class="bg-secondary text-light panel-custom border">
            <h6 class="panel-title">
                Información del Colaborador
            </h6>
        </div>

        <form class="mt-3 ml-2 mr-2">
            <div class="form-row">
                <div class="col-1 mb-1">
                    <label for="validationDefault01">Código</label>
                    <input type="text" id="employeeId" name="employeeId" value="" class="form-control form-control-sm numericOnly" autocomplete="off" />
                </div>
                <div class="col-1">
                    <a class="btn btn-sm btn-info" href="javascript:void(0)" id="btnSearchEmployee" title="Buscar" style="margin-top: 27px">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>

            <div class="form-row pb-3">
                <div class="form-group col">
                    <label for="validationDefault01">Nombres</label>
                    <input type="text" id="employeeName" name="employeeName" value="" class="form-control form-control-sm col-12" autocomplete="off" readonly />
                </div>
                <div class="form-group col">
                    <label for="validationDefault01">Puesto</label>
                    <input type="text" id="employeePosition" name="employeePosition" value="" class="form-control form-control-sm col-12" autocomplete="off" readonly />
                </div>
                <div class="form-group col">
                    <label for="validationDefault01">Departamento</label>
                    <input type="text" id="employeeDepto" name="employeeDepto" value="" class="form-control form-control-sm col-12" autocomplete="off" readonly />
                </div>
            </div>

        </form>
    </section>

    <section class="bg-light text-dark border-custom">
        <div class="bg-secondary text-light panel-custom border">
            <h6 class="panel-title">
                Vacaciones
            </h6>
        </div>

        <div class="mt-3 ml-2 mr-2 pb-3">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-row">
                    <div class="col-3 mb-2">
                        <label for="validationDefault01">Días Correspondientes</label>
                        <input type="text" id="daysTotal" name="daysTotal" value="" class="form-control form-control-sm" autocomplete="off" readonly />
                    </div>
                    <div class="col-3 mb-2">
                        <label for="validationDefault01">Días Disfrutados</label>
                        <input type="text" id="daysTaken" name="daysTaken" value="" class="form-control form-control-sm" autocomplete="off" readonly />
                    </div>
                    <div class="col-2 mb-2">
                        <label for="validationDefault01">Días Disponibles</label>
                        <input type="text" id="daysAvailable" name="daysAvailable" value="" class="form-control form-control-sm" autocomplete="off" readonly />
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-3">
                        <label for="validationDefault02">Solicitar <b>Desde</b></label>
                        <input type="text" id="startDate" name="startDate" value="" class="datepicker form-control form-control-sm" autocomplete="off" />
                    </div>

                    <div class="col-3">
                        <label for="validationDefault02">Solicitar <b>Hasta</b></label>
                        <input type="text" id="endDate" name="endDate" value="" class="datepicker form-control form-control-sm" autocomplete="off" />
                    </div>
                    <div class="col-2 mb-2">
                        <label for="validationDefault01">Días Solicitados</label>
                        <input type="text" id="daysRequested" name="daysRequested" value="" class="form-control form-control-sm" autocomplete="off" readonly />
                    </div>
                </div>

                <button id="createUser" class="btn btn-sm btn-danger pl-4 pr-4 mt-3" type="submit">
                    Guardar
                </button>

                <span id="message" class="d-block pl-2 pr-2 pb-1 pt-1 mt-3 mb-0">@ViewBag.Message</span>
            }
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}

<script type="text/javascript">

    $(document).ready(function () {

        //$(".datepicker").val(new Date().toLocaleDateString())
        $(".datepicker").datepicker({ dateFormat: 'dd/mm/yy' });

        $(".numericOnly").keypress(function (e) {
            if (String.fromCharCode(e.keyCode).match(/[^0-9]/g)) return false;
        });

        $("#employeeId").keypress(function (evt) {
            if (evt.charCode === 13 && this.value.length > 1) {
                $("#btnSearchEmployee").click();
            }

            if (this.value.length >= 5)
                return false;
        });

        $("#btnSearchEmployee").click(function (e) {
            e.preventDefault();

            const employeeId = $("#employeeId").val();

            $("#employeeName").val('')
            $("#employeePosition").val('')
            $("#employeeDepto").val('')

            if (employeeId) {
                $.ajax({
                    "url": `/Vacation/GetEmployee?employeeId=${employeeId}`,
                    "type": "POST",
                    "success": async function (response) {
                        if (response.result === "200") {
                            const employee = JSON.parse(response.message);
                            $("#employeeName").val(employee.EmployeeName)
                            $("#employeePosition").val(employee.EmployeePosition)
                            $("#employeeDepto").val(employee.EmployeeDepto)
                            
                        }
                        else if (response.result === "404") {
                            alert('El colaborador no fue encontrado.');
                        }
                        else {
                            console.log(response.message);
                            alert('Hubo un error tratando de encontrar al colaborador.');
                        }
                    }
                });
            }
        });

        $("#startDate").on("change", function (evt) {
            validateDate()
        });

        $("#endDate").on("change", function (evt) {
            validateDate()
        });

    });

    function requestedDays(startDate, endDate) {
        $.ajax({
            "url": `/Vacation/RequestedDays?startDate=${startDate}&endDate=${endDate}`,
            "type": "POST",
            "success": async function (response) {
                if (response.result === "200") {
                    $("#daysRequested").val(response.message)
                }
                else {
                    $("#daysRequested").val("0")
                }
            }
        });
    }

    function validateDate() {
        console.log($("#startDate").val())
        console.log($("#endDate").val())

        const startDateFormatted = GetDateFormat($("#startDate").val())
        const endDateFormatted = GetDateFormat($("#endDate").val())
        
        const startDate = new Date(startDateFormatted)
        const endDate = new Date(endDateFormatted)

        console.log("formatted startDate:", startDate.toLocaleDateString())
        console.log("formatted endDate:", endDate.toLocaleDateString())

        if (startDate > endDate) {
            $("#message").html("La fecha de inicio no puede ser mayor a la fecha fin")
            $("#message").addClass("text-danger")
        } else {
            $("#message").html("")
            $("#message").removeClass("text-danger")

            if (startDate instanceof Date && isFinite(startDate) && endDate instanceof Date && isFinite(endDate))
                requestedDays(startDate.toLocaleDateString(), endDate.toLocaleDateString())
        }
    }

    function GetDateFormat(date) {
        const parts = date.split("/");
        const dt = new Date(parseInt(parts[2], 10),
            parseInt(parts[1], 10) - 1,
            parseInt(parts[0], 10));

        return dt.toLocaleDateString();
    }

</script>
