@{
    ViewBag.Title = "Pagina de Inicio";
}


<div class="text-center">

    <img src="~/Content/images/RCLogo.PNG" alt="logo" id="site_logo_id" style="width: 320px" class="mb-3" />

    <span class="d-block" style="font-size: 2.5em; font-weight:bolder">Sistema de Gestión y Administración de Vacaciones</span>

</div>

<section class="text-center mt-5" id="headerVacation" style="display: none">
    <div>
        <h5> <span style="font-weight:200">Hola</span> <b><span id="employeeName" style="text-transform: capitalize">Rafael Mercedes</span></b>! Este es el resumen de tus vacaciones:</h5>
    </div>
</section>

<section class="container-fluid" style="margin-top: 6em; display: none" id="detailVacation">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <span class="w-100 bg-dark pt-2 pb-2 text-light border rounded-top text-center" style="font-size: 1.3em">Días Correspondientes</span>
            <div class="bg-danger border rounded-bottom text-center" style="height: 170px; width: 100%;">

                <h2 class="mt-5 text-light" id="DiasCorrespondientes">0 días</h2>
                <span iclass="waitingIndicator spinner-border text-light" style="margin-top: 27px; margin-right: 5px; display: none"></span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <span class="w-100 bg-dark pt-2 pb-2 text-light border rounded-top text-center" style="font-size: 1.3em">Días Solicitados</span>
            <div class="bg-success border rounded-bottom text-center" style="height: 170px; width: 100%;">

                <h2 class="mt-5 text-light" id="DiasSolicitados">0 días</h2>
                <span iclass="waitingIndicator spinner-border text-light" style="margin-top: 27px; margin-right: 5px; display: none"></span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <span class="w-100 bg-dark pt-2 pb-2 text-light border rounded-top text-center" style="font-size: 1.3em">Días Disponibles</span>
            <div class="bg-primary border rounded-bottom text-center" style="height: 170px; width: 100%;">

                <h2 class="mt-5 text-light" id="DiasDisponibles">0 días</h2>
                <span iclass="waitingIndicator spinner-border text-light" style="margin-top: 27px; margin-right: 5px; display: none"></span>
            </div>
        </div>

    </div>
</section>

<script type="text/javascript">

    $(document).ready(async function () {

        const employeeId = @Session["employeeID"]

        await getEmployeeDetail(employeeId)
    })

     const CorrespondingDays = async (employeeId) => {

        $.ajax({
            "url": `/Vacation/GetCorrespondingDays/?employeeId=${employeeId}`,
            "type": "GET",
            "success": async function (response) {
                if (response.result === "200") {
                    console.log('CorrespondingDays', response)

                    const employeeDay = JSON.parse(response.message);
                    $("#dueDate").val(new Date(employeeDay.DueDate).toLocaleDateString("es-DO"))

                    $("#DiasCorrespondientes").html(`${employeeDay.TotalDays} días`)

                    if (employeeDay.TakenDays === null)
                        $("#DiasSolicitados").html(`0 días`)
                    else 
                        $("#DiasSolicitados").html(`${employeeDay.TakenDays} días`)


                    const daysAvailable = parseInt(employeeDay.TotalDays) - parseInt(employeeDay.TakenDays)
                    if (employeeDay.TakenDays === null)
                        $("#DiasDisponibles").html(`0 días`)
                    else
                        $("#DiasDisponibles").html(`${daysAvailable} días`)
                    
                } else {
                    console(response.message)
                }
            }
        })
    }

    async function getEmployeeDetail(employeeId) {
        console.log('QUERYING EMPLOYEE', employeeId)
        $("waitingIndicator").show();

        $.ajax({
            "url": `/Vacation/GetEmployee?employeeId=${employeeId}`,
            "type": "POST",
            "success": async function (response) {
                console.log('RESULT:', response)
                if (response.result === "200") {
                    const employee = JSON.parse(response.message);
                    $("#employeeName").html(employee.EmployeeName) 

                    await CorrespondingDays(employeeId);

                    $("#headerVacation").show()
                    $("#detailVacation").show()
                }
                else if (response.result === "404") {
                    $("#headerVacation").hide()
                    $("#detailVacation").hide()
                }
                else {
                    console.log(response.message);
                    if (response.message.includes('(403)')) {
                        alert(response.message);
                        //await getEmployeeDetail(@Session["employeeID"])
                    }
                }

                $("waitingIndicator").hide();
            }
        });
    }

</script>
