<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CONSTANCIA DE PAGO Y DISFRUTE DE VACACIONES</title>
</head>
<body>
    <style>
        #constanciaBody > * {
            font-family: 'Courier New', Arial, Helvetica, sans-serif;
            font-size: 15px;
        }

        #ConstanciaContent > * {
            font-family: 'Courier New', Arial, Helvetica, sans-serif;
            font-size: 18px;
        }
    </style>


    <div id="constanciaBody" style="width: 98%; margin-left: 10px; margin-right: 10px; margin-top: 45px">
        <div style="text-align: center; margin-bottom: 30px">
            <img src="http://##server##/Content/images/RCLogo.PNG" alt="logo" id="site_logo_id" style="width: 220px" />
            <h3>CONSTANCIA DE PAGO Y DISFRUTE DE VACACIONES</h3>
        </div>

        <table style="width:100%" cellpadding="6" cellspacing="6">
            <tr>
                <td>
                    <span style="font-weight:bold">Nombre: </span> <span>##NombreColaborador##</span> <br />
                    <span style="font-weight:bold">Cédula: </span> <span>##CedulaColaborador##</span> <br />
                    <span style="font-weight:bold">Fecha de Ingreso: </span> <span>##FechaIngreso##</span> <br />
                    <span style="font-weight:bold">Puesto: </span> <span>##PuestoColaborador##</span> <br />
                    <span style="font-weight:bold">Departamento: </span> <span>##DeptoColaborador##</span> <br />
                </td>
                <td style="vertical-align: top">
                    <span style="font-weight:bold">Fecha:</span> <span>##Fecha##</span> <br /> <br />
                    <span style="font-weight:bold">Tiempo trabajando:</span> <span>##TiempoTrabajando##</span> <br />
                    <span style="font-weight:bold">Salario mensual:</span> <span>##SalarioMensual##</span> <br />
                    <span style="font-weight:bold">Localidad: </span> <span>##Localidad##</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />

                    <p id="ConstanciaContent" style="text-align:justify">
                        Dejo constancia de que a partir del próximo día ##FechaDesde## hasta el ##FechaHasta##
                        estaré disfrutando de mis vacaciones anuales. Asimismo, dejo constancia de haber recibido,
                        acreditado a mi cuenta No. ##CuentaBanco##, la suma de ##MontoPagado##, por concepto
                        de ##DiasPagados## días de vacaciones anuales.
                    </p>
                    <br />
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td>Recibido y firmado por:</td>
                <td>
                    _______________________________
                </td>
            </tr>
            <tr>
                <td><br /></td>
            </tr>
            <tr>
                <td>Aprobado por:</td>
                <td>_______________________________</td>
            </tr>
            <tr>
                <td><br /></td>
            </tr>
        </table>
        <div style="margin-top: 15px; margin-left: 15px">
            <p>La presente constancia de pago y disfrute se realiza en cumplimiento de los artículos 177 y 189 del Código de Trabajo.</p>
        </div>
    </div>
</body>
</html>