<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CONSTANCIA DE PAGO Y DISFRUTE DE VACACIONES</title>
</head>
<body>
    <style>
        #constanciaBody > * {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }
    </style>


    <div id="constanciaBody" style="width: 700px; border: 2px solid #a9a9a9; padding: 20px 20px">
        <div style="text-align: center; margin-bottom: 20px">
            <span>CONSTANCIA DE PAGO Y DISFRUTE DE VACACIONES</span>
        </div>

        <table style="width:100%">
            <tr>
                <td>
                    <span style="font-weight:bold">Nombre: </span> <span>##NombreColaborador##</span> <br />
                    <span style="font-weight:bold">Cédula: </span> <span>##CedulaColaborador##</span> <br />
                    <span style="font-weight:bold">Fecha de Entrada: </span> <span>##FechaIngreso##</span> <br />
                    <span style="font-weight:bold">Puesto: </span> <span>##PuestoColaborador##</span> <br />
                    <span style="font-weight:bold">Sucursal: </span> <span>##Sucursal##</span>
                </td>
                <td style="vertical-align: top">
                    <span style="font-weight:bold">Fecha:</span> <span>##Fecha##</span> <br /> <br />
                    <span style="font-weight:bold">Tiempo trabajando:</span> <span>##TiempoTrabajando##</span> <br />
                    <span style="font-weight:bold">Salario mensual:</span> <span>##SalarioMensual##</span> <br />
                    <span style="font-weight:bold">Salario diario:</span> <span>##SalarioDiario##</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    <br />

                    <p>
                        Dejo constancia de que a partir del próximo día #FechaDesde# hasta el #FechaHasta#
                        estaré disfrutando de mis vacaciones anuales. Asimismo, dejo constancia de haber recibido,
                        acreditado a mi cuenta No. ##CuentaBanco##, la suma de ##MontoPagado##, por concepto
                        de ##DiasPagados## días de vacaciones anuales.
                    </p>
                    <br />

                    <p>
                        Recibido y firmado por Aurelio Ivan Cruz Ortiz: ____________________________
                    </p>
                    <br />
                </td>
            </tr>
            <tr>
                <td>_______________________________</td>
                <td>_______________________________</td>
            </tr>
            <tr>
                <td>Calculado por:</td>
                <td>Autorizado por:</td>
            </tr>
            <tr>
                <td><br /></td>
            </tr>
        </table>
    </div>
</body>
</html>